#footer {
  text-align: center;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(84, 82, 117);
  padding:8px;
}
#header {
  text-align: center;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#333;
  padding:8px;
  letter-spacing: 10px;
  font-weight: 900;
  
  color:rgb(202, 162, 162);
}
.title1 {
  font-size: 50px;
}
#title2 {
  font-size: 30px;
}
body {
  background-color: cornflowerblue;
}
#render {
  font-size: 25px;
  margin: 200px 50px 300px 50px;
}
.box {
  background-color:cornflowerblue;
  height: 200px;
  width: 80%;
  text-align: left;
  overflow-y: scroll;
  margin-top: 2% 0 2% 5%;
  border-radius: 10px;
}
.inner-box {
  margin: 2% 5% 2% 5%;
}
a {
  color: darkblue;
}