#footer {
  text-align: center;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(84, 82, 117);
  padding:8px;
}
#header {
  text-align: center;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#333;
  padding:8px;
  letter-spacing: 10px;
  font-weight: 900;
  
  color:rgb(202, 162, 162);
}
#title1 {
  font-size: 50px;
}
#title2 {
  font-size: 30px;
}
#render {
  font-size: 25px;
  margin: 200px 50px 300px 50px;
}