@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.License>;
@Html.ActionLink(" Add", "Create", null, null, new { @class="btn btn-info fa fa-user-plus" })
@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
<p>Licenses</p>

<div class="box">
  <div class="inner-box">
    @if (@Model.Count == 0)
    {
      <p>No Licenses have been added yet!</p>
    } 

    @foreach (License license in Model)
    {
      <li>@Html.ActionLink($"{license.Name}", "Details", new { id = license.LicenseId })</li>
    }
  </div>  
</div>