@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@Html.ActionLink(" All Machines", "Index", null, null, new { @class="btn btn-info fa fa-cogs" })
<p>Are you sure you want to delete this Machine?</p>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-info fa "><i class="fa-times"> Delete</i></button>
}