@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Record>;

@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
@Html.ActionLink(" Add", "Create", null, null, new { @class="btn btn-info fa fa-user-plus" })
<hr />
<p>Records</p>
<hr />
<div class="box">
  <div class="inner-box">
    @if (@Model.Count == 0)
    {
      <p>No Records have been added yet!</p>
    } 

    @foreach (Record record in Model)
    {
      <li>@Html.ActionLink($"{record.RecordId}", "Details", new { id = record.RecordId })</li>
    }
  </div>  
</div>
<hr />